<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
    <style> 
        .table{
            border: 2px black solid;
        }

    </style>
    
</head>
<body>

    <h1>Employee Details</h1>

    <form action="">
        <div>
            <table class="table">
        <tr><td>
            <label for="title">Employee name</label>
        </td>
        <td>
            <input type="text" name="title" placeholder="Enter Name"><br>
        </td></tr> 
         <tr><td>
            <label for="age">Age </label>
        </td>
        <td>
            <input type="number" name="age" placeholder="Enter Age"><br>
        </td></tr>
        <tr> <td>
            <label for="mobile_no">Contact_no</label>
        </td><td> 
            <input type="text" name="mobile_no" placeholder="Enter mobile no" minlength="10" maxlength="10" required><br>
        </td></tr>
        <tr><td>
            <label for="salary">Salary</label>
        </td><td> 
            <input type="floatformat" name="salary" placeholder="enter salary"><br>
        </td></tr>
        </table>
        <br>
        <br>
        <button type="button">Add</button>
        </div>
    </form>
     
</body>
</html>