<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee</title>
    <style>
        .table {
            border: 2px black solid;
            width: 100%;
            border-collapse: collapse;
        }
        .table th, .table td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>

    <h1>Edit Employee</h1>

    <form action="" method="POST">
        <table class="table">
            <tr><td><label for="title">Employee Name</label></td><td><input type="text" name="title" value="{{ employee[1] }}" required><br></td></tr>
            <tr><td><label for="age">Age</label></td><td><input type="number" name="age" value="{{ employee[2] }}" required><br></td></tr>
            <tr><td><label for="mobile_no">Contact No</label></td><td><input type="text" name="mobile_no" value="{{ employee[3] }}" minlength="10" maxlength="10" required><br></td></tr>
            <tr><td><label for="salary">Salary</label></td><td><input type="number" name="salary" value="{{ employee[4] }}" required><br></td></tr>
        </table>
        <button type="submit" class="btn">Update</button>
    </form>

</body>
</html>
